<div class="flex-column">
  <div class="flex-section flex-column">test</div>
  <div class="flex-row none-postrow">
    <textarea
      data-field="post-textarea"
      class="post-textarea"
      rows="3"
      placeholder="なにか書いて"
    ></textarea>
    <button data-action="post-to-tile">Post</button>
  </div>
</div>
