<div class="flex-column">
  <div class="flex-section"><span data-bind="content"></span></div>
  <div class="flex-row">
    <div>fav:<span data-bind="good"></span></div>
    <div>no:<span data-bind="bad"></span></div>
    <div><span data-bind="created-user"></span></div>
  </div>
</div>
