/* body */
body {
    background: #111;
    color: #eee;
    font-family: sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: center;
    margin:0;
}

/* header */
.head-bar {
    display: flex;
    justify-content: space-between;
}

/* top */
.top-root h1 {
    font-size: 5rem;
}

.login-box {
    width: 200px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* main */