* {
  margin: 0;
  padding: 0;
}
button {
  font-size: 0.75em;
  padding: 0.1em 0.375em;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-section {
  flex: 1;
  display: flex;
  justify-content: center;
}
.glay-text {
  color: #eee;
  font-size: 0.75em;
}

/* body */
body {
  background: #111;
  color: #eee;
  font-family: sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100dvh;
  padding-bottom: env(safe-area-inset-bottom);
  text-align: center;
  margin: 0;
}
/* top */
.top-root h1 {
  font-size: clamp(3rem, 10vw, 15rem);
  margin: 0.5em 0;
}
.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.login-box input,
.login-box button {
  height: 4vh;
  width: clamp(10rem, 30vw, 15rem);
  max-width: 300px;
}
.login-error {
  height: 4vh;
  color: rgb(255, 0, 0);
}

/* layout-main */
.main-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  margin: 0;
}
.main-root header {
  height: 5vh;
}
.main-root footer {
  height: 5vh;
}
.main-root .layout-cutter {
  display: flex;
  height: 100%;
  flex: 1;
}
.main-root main {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main-root aside {
  padding: 3vh;
  width: 150px;
}
.main-root .aside-opener {
  display: none;
}
@media (max-width: 767px) {
  .main-root aside {
    display: none;
  }
  .main-root .aside-opener {
    display: block;
    position: absolute;
    bottom: 1vh;
    right: 2vh;
    width: 20vw;
    height: 10vw;
    font-size: 1rem;
  }
  .main-root aside.open {
    display: block;
    position: absolute;
    top: 1vh;
    right: 1vh;
  }
}

/* head-bar */
.head-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 2vw;
  font-size: 1rem;
}
.head-section {
  display: flex;
  gap: 1vw;
  align-items: center;
}
.head-bar button {
  font-size: 0.75em;
}

/* foot-bar */
.foot-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 2vw;
  font-size: 1rem;
}
.foot-bar h1 {
  font-size: 1rem;
}
.foot-bar .flex-row {
  gap: 2em;
}

/* aside-bar */
.aside-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3vh;
}
.aside-bar button {
  height: 10vh;
  width: 100%;
}

/* landing */
.landing-root {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex: 1; /* ← 100% じゃなくて flex */
}

.section {
  flex: 1;
  height: 100%;
}

.landing-image {
  height: 30vh;
  object-fit: contain;
  margin: auto auto;
}
/* planet-grid */
.planet-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.planet-grid {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  position: relative;
}
.planet-grid > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
.planet-grid .surround {
  font-size: 0.75rem;
}
.planet-post {
  display: flex;
}
.post-field {
  flex: 1;
  resize: none;
}
.planet-move {
  height: 2em;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.planet-move button {
  width: 6em;
}

/* here */
.none-postrow {
  margin-bottom: 1em;
}
.post-textarea {
  flex: 1;
  resize: none;
}
