* {
    margin:0;
    padding: 0;
}
button {
    font-size: 0.75em;
    padding: 0.1em 0.375em;
}

/* body */
body {
    background: #111;
    color: #eee;
    font-family: sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: center;
    margin:0;
}
/* top */
.top-root h1 {
    font-size: 5rem;
}

.login-box {
    width: 200px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login-error{
    color: rgb(255, 0, 0);
}

/* main */
.main-root{
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    margin:0;
}
.main-root header{
    height: 80px;
}
.main-root main{
    flex:1;
}
.main-root footer{
    height: 80px;
}


/* head-bar */
.head-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 2vw;
}
.head-bar * {
    font-size: 2.5vw;
}
.head-section{
    display: flex;
    gap:1vw;
    align-items: center;
}
.head-bar button{
    font-size: 0.75em;
}





/* main */