<div class="aside-bar">
  <button>小型ロケット</button>
  <button>惑星UG</button>
  <button>アカウントUG</button>
  <button>メッセージ</button>
  <button>分解</button>
  <button type="submit" class="">星屑：temp</button>
</div>
