<div class="foot-bar">
  <div class="foot-section">
    <span class="survival">temp日目</span>
  </div>
  <div class="foot-section">
    <button type="submit" class="">左を向く</button>
    <button type="submit" class="">歩く</button>
    <button type="submit" class="">右を向く</button>
  </div>
  <div>
    <button type="submit" class="">星屑：temp</button>
  </div>
</div>
