<div class="head-bar">
  <div class="head-section">
    <span data-bind="planet_name"></span>
  </div>
  <div class="head-section">
    <span data-bind="user_name"></span>
    <form method="POST" action="/logout">
      <button type="submit" class="logout">ログアウト</button>
    </form>
  </div>
</div>
