<div class="flex-row head-bar">
  <div class="flex-row">
    <div>
      <span data-bind="planet.name"></span>
    </div>
    <div><span data-bind="planet_age"></span>歳</div>
  </div>
  <div class="flex-row">
    created:<span data-bind="planet.created_name"></span>
  </div>
</div>
