{% extends "layout_main.jinja" %}

{% block content %}
<div class="landing-root">
  <h2>{{ state.planet_name }}へようこそ！</h2>

  <form method="GET" action="/">
    <button>着陸する</button>
  </form>
</div>
{% endblock %}