<div class="planet-layout">
  <div class="planet-grid">
    <div class="surround" data-pos="7"></div>
    <div class="surround" data-pos="8"></div>
    <div class="surround" data-pos="9"></div>

    <div class="surround" data-pos="4"></div>
    <div class="now-pos" data-pos="5"></div>
    <div class="surround" data-pos="6"></div>

    <button class="aside-opener">open</button>
  </div>

  <div class="planet-move">
    <button class="left-turn-btn">左を向く</button>
    <button class="walk-btn">歩く</button>
    <button class="right-turn-btn">右を向く</button>
  </div>
</div>
