{% extends "layout_main.jinja" %} {% block content %}
<div class="planet-layout">
  <div class="planet-grid">
    <div class="surround">7</div>
    <div class="surround">8</div>
    <div class="surround">9</div>

    <div class="surround">4</div>
    <div class="center">
      <div class="">
        <h1>MAP</h1>
        <p>ログインっぽい流れは動いてる。</p>
      </div>
    </div>
    <div class="surround">6</div>
    <button class="aside-opener">open</button>
  </div>
  <div class="planet-move">
    <button type="submit" class="">左を向く</button>
    <button type="submit" class="">歩く</button>
    <button type="submit" class="">右を向く</button>
  </div>
</div>
{% endblock %}
