<div class="planet-layout">
  <div class="planet-grid">
    <div class="surround" data-pos="7"></div>
    <div class="surround" data-pos="8"></div>
    <div class="surround" data-pos="9"></div>

    <div class="surround" data-pos="4"></div>
    <div class="here" data-pos="5"></div>
    <div class="surround" data-pos="6"></div>
  </div>

  <div class="planet-move">
    <button data-action="turn-left">左を向く</button>
    <button data-action="walk">歩く</button>
    <button data-action="turn-right">右を向く</button>
  </div>
</div>
