{% extends 'base.jinja' %} {% block body %}
<div class="top-root">
  <header>
    <h1>Planetter2</h1>
  </header>
  <main>
    <form class="login-box" method="POST" action="/login">
      <input type="text" name="username" placeholder="アカウント名" />
      <input type="password" name="password" placeholder="パスワード" />
      <button type="submit">ログイン／新規登録</button>
      <div class="login-error">{{ error }}</div>
    </form>
  </main>
</div>
{% endblock %}
